canvasWidth: 100
canvasHeight: 60
canvasBackgroundColor: '#0000ff'
frameXRatio: 0.9
frameYRatio: 0.9
axisColor: null
axisWidth: 1
gridColor: null
gridWidth: 1
gridHeightPitch: 1
barBackgroundColor: '#ffcc00'
barBorderColor: '#ff6600'
barBorderWidth: 1
frequencyPolygonColor: '#ff9900'
frequencyPolygonWidth: 3
cumulativeRelativeFrequencyPolygonColor: '#ff00ff'
cumulativeRelativeFrequencyPolygonWidth: 7
fontPath: 'fonts/ipaexm.ttf'
fontSize: 24
fontColor: '#999999'
showBar: false
showFrequencyPolygon: true
showCumulativeRelativeFrequencyPolygon: true
showFrequency: true
