#imageDriver: 'gd'
imageDriver: 'imagick'

# Default Properties
canvasBackgroundColor: '#ffffff'
frameXRatio: 0.8
frameYRatio: 0.7
axisColor: '#666666'
axisWidth: 2
gridColor: '#333333'
gridWidth: 1
gridHeightPitch: 1
barBackgroundColor: '#0000ff'
barBorderColor: '#9999ff'
barBorderWidth: 1
frequencyPolygonColor: '#ff0000'
frequencyPolygonWidth: 2
cumulativeRelativeFrequencyPolygonColor: '#33ff66'
cumulativeRelativeFrequencyPolygonWidth: 2
fontPath: 'fonts/ipaexg.ttf'
fontSize: 16
fontColor: '#333333'
showBar: true
showGrid: true
showGridValues: true
showAxis: true
showFrequencyPolygon: false
showCumulativeRelativeFrequencyPolygon: false
showFrequency: false
labelX: ''
labelY: ''
caption: ''
validConfig:
    canvasWidth:
        type: int
    canvasHeight:
        type: int
    canvasBackgroundColor:
        type: colorCode|null
    frameXRatio:
        type: float
    frameYRatio:
        type: float
    axisColor:
        type: colorCode|null
    axisWidth:
        type: int
    gridColor:
        type: colorCode|null
    gridWidth:
        type: int
    gridHeightPitch:
        type: int
    barBackgroundColor:
        type: colorCode|null
    barBorderColor:
        type: colorCode|null
    barBorderWidth:
        type: int
    frequencyPolygonColor:
        type: colorCode|null
    frequencyPolygonWidth:
        type: int
    cumulativeRelativeFrequencyPolygonColor:
        type: colorCode|null
    cumulativeRelativeFrequencyPolygonWidth:
        type: int
    fontPath:
        type: string
    fontSize:
        type: int
    fontColor:
        type: colorCode|null
    showBar:
        type: bool
    showGrid:
        type: bool
    showGridValues:
        type: bool
    showAxis:
        type: bool
    showFrequencyPolygon:
        type: bool
    showCumulativeRelativeFrequencyPolygon:
        type: bool
    showFrequency:
        type: bool
    labelX:
        type: string
    labelY:
        type: string
    caption:
        type: string
