canvasWidth: 600
canvasHeight: 400
canvasBackgroundColor: '#223399'
plotarea:
    backgroundColor:    # `null` as transparent
frameXRatio: 0.7
frameYRatio: 0.6
axisColor: '#999'
axisWidth: 3
gridColor: '#eee'
gridWidth: 1
gridHeightPitch: 1
barBackgroundColor: '#ffcc33'
barBorderColor: '#ff6600'
barBorderWidth: 2
frequencyPolygonColor: '#33cc00'
frequencyPolygonWidth: 3
cumulativeRelativeFrequencyPolygonColor: '#ff00ff'
cumulativeRelativeFrequencyPolygonWidth: 7
fontPath: 'fonts/ipaexm.ttf'
fontSize: 24
fontColor: '#eeeeee'
showBar: true
showFrequencyPolygon: true
showCumulativeRelativeFrequencyPolygon: true
showFrequency: true
labelX: 'Class (Items)'
labelXOffsetX: 0
labelXOffsetY: 0
labelY: 'Frequency (People)'
labelYOffsetX: 0
labelYOffsetY: 0
caption: 'Items Purchased / month（Feb 2024）'
captionOffsetX: 0
captionOffsetY: 0
