item1:
    child1:
        grandChild1:
            - element1
item2:
    child1:
        - element1
        - element2
    child2:
        grandChild1:
            - element1
        grandChild2:
            - element1
            - element2
