name: Test and Static Analysis (Pull Request)

on: pull_request

jobs:
  test-and-static-analysis:
    name: Test and Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.1', '8.2', '8.3', '8.4', '8.5']

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          tools: composer:v2

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: PHP Version Check
        run: php -v

      - name: Validate Composer JSON
        run: composer validate

      - name: Run Composer Install
        id: composerinstall
        run: composer install --no-interaction

      - name: PHP Lint
        run: ./vendor/bin/parallel-lint src tests examples

      - name: Neon Lint
        run: ./vendor/nette/neon/bin/neon-lint conf

      - name: PHP Code Sniffer
        run: |
          ./vendor/bin/phpcs --version
          ./vendor/bin/phpcs --ignore=vendor --standard=phpcs.xml -s -p .

      - name: PHPStan
        run: |
          ./vendor/bin/phpstan --version
          ./vendor/bin/phpstan analyze -c phpstan.neon

      - name: Unit tests
        run: |
          mkdir -p build/logs
          ./vendor/bin/phpunit --version
          echo "Test suite All"
          ./vendor/bin/phpunit ./tests/
  
  code-coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.4']

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          tools: composer:v2

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Run Composer
        run: composer install --no-interaction

      - name: Update PHPUnit for Code Coverage
        run: composer require phpunit/phpunit:^10.5 sebastian/version:* --with-all-dependencies

      - name: PHP Lint
        run: ./vendor/bin/parallel-lint src tests examples

      - name: Unit tests
        run: |
          mkdir -p build/logs
          XDEBUG_MODE=coverage ./vendor/bin/phpunit ./tests/ --coverage-clover build/logs/clover.xml --coverage-filter=./src/
